.btn.btn-primary,
.findedTemperature {
    margin-top: 30px;
}

.btn.btn-primary{
    float: right;
}

.icon{
    font-size: 91px;
    margin-left: 40%;
    color: yellow;
}
.icon.icon-frown-o {
    color: #863030;
}

.tempVariavel input{
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;

}

.tempVariavel label{
    font-size: 20px;
    color: black;
}

@media (max-width: 480px) {
    

}
@media (min-width: 481px) and (max-width: 959px) {

    
    
}

@media (min-width: 960px) and (max-width: 2111px) {
    article{
        height: 342px;
    }
    
    
}
@media (min-width: 2112px) {
    article{
        height: 342px;
    }
    
}